body{
    background-color: #DDA0DD;
    font-family:'open sans', 'Arial', helvetica, "aria navarrow", sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #4169E1;
}
div{
    color: 999999;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #9400D3;
    background-color: #FFC0CB;
    border-radius: 15px;
    border: solid 2px #999999;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #4169E1;
}

*{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
}
ul li{
    font-family: 'segoe UI', tamoha, geneva, verdana, sans-serif;
    font-size: 22px;
    height: 60px;
}
ul li a{
    height: 60px;
    background-color: #333;
    display: block;
    border-left: 10px solid rgb(8,96,179);
    border-right: 5px solid rgb(144,253,111);
    padding-left: 15px;
    text-decoration: none;
    color: #bfe1f1
}
ul li a:hover{
    margin-left: 10px;
    color:#b9b7b7;
    background-color: #0b1741;
    transform: matrix3d(4deg);
    -moz-transform: matrix3d(4deg);
    -webkit-transform: matrix3d(4deg);
}
td{
    vertical-align: top;
}